#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	appName: NPlayground
	version: 0.0.5

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter
		debugger: true
		catchExceptions: yes
	container:
		debugger: true
	routing:
		debugger: true
	session:
		expiration: 14 days
	debugger:
		maxDepth: 3
		email: 'leonard.odlozilik@gmail.com'
		strictMode: true
		editor: 'editor://open/?file=%file&line=%line&project=nplayground'
		bar:

	database:
		default:
			dsn: 'mysql:host=localhost;dbname=nplayground'
			user: 'nplayground'
			password: 'test1598!'
			options:    [PDO::MYSQL_ATTR_COMPRESS = true]
			debugger:   true
			explain:    true
			reflection: discovered  # nebo conventional nebo classname, výchozí je discovered
			autowired:  true

services:
	- App\Model\UserManager
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	database: @nette.database.default

extensions:
	formsReplicator: Kdyby\Replicator\DI\ReplicatorExtension
	smartDump: LeonardoCA\Tools\DI\SmartDumpExtension
	ajaxPanels: LeonardoCA\Tools\DI\AjaxPanelsCompilerExtension

smartDump:
	traceMode: false  #false|number|all
	showParams: false
