nette:
	database:
		default:
			dsn: 'mysql:host=localhost;dbname=nplayground'
			user: 'nplayground'
			password: 'test1598!'
			debugger:   true
			explain:    true
			reflection: discovered
			autowired:  true
