nette:
	database:
		default:
			dsn: 'mysql:host=localhost;dbname=nplayground'
			user: 'nplayground'
			password: ''
			debugger:   true
			explain:    true
			reflection: discovered
			autowired:  true
	application:
		debugger: false
		catchExceptions: yes
	container:
		debugger: false
	routing:
		debugger: false

smartDump:
	traceMode: false  #false|number|all
	showParams: false
