# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)

# disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

# enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On
	# RewriteBase /

	# Redirect always to https
	#SSLOptions +StrictRequire
    #SSLRequireSSL
    # REQUIRE SSL EVEN WHEN MOD_SSL IS NOT LOADED
    #RewriteCond %{HTTPS} off
    #RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

    RewriteCond %{HTTPS} !=on [NC]
    RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

    ## MOST SECURE WAY TO REQUIRE SSL
    # http://www.askapache.com/htaccess/apache-ssl-in-htaccess-examples.html
    #SSLOptions +StrictRequire
    #SSLRequireSSL
    #SSLRequire %{HTTP_HOST} eq "askapache.com"
    #ErrorDocument 403 https://askapache.com

	#RewriteCond %{HTTPS} !=on
    #RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

	# front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]
</IfModule>

# enable gzip compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
</IfModule>
