#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

html.js .jshidden {
	display: none;
}

.no-padding {
	padding: 0 !important;
}

.ui-sortable-helper, .replicator-sortable-item:hover {
	background-color: rgba(240, 240, 255, 0.8);
	box-shadow: inset 0px 0px 100px -25px #669, -1px 0px 21px 0px #669;
	-webkit-box-shadow: inset 0px 0px 50px 5px rgba(189, 236, 255, 0.61), 0px 0px 20px 10px rgba(189, 236, 255, 0.61);
	-moz-box-shadow: inset 0px 0px 100px -25px #669, -1px 0px 21px 0px #669;
	-o-box-shadow: inset 0px 0px 100px -25px #669, -1px 0px 21px 0px #669;
}

.ui-state-highlight {
	background-color: rgba(230, 230, 230, 0.61);
}
